<form [formGroup]="formBusqueda" novalidate>
    <button pButton label="Filtrar" icon="pi pi-filter" (click)="mostrarFiltro = !mostrarFiltro">
    </button>

    <div *ngIf="mostrarFiltro" class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-4 gap-4 mt-4">
        <div class="md:col-span-1">
            <label>Rango de Fechas</label>
            <p-calendar formControlName="fechaRangoFeriados" [showIcon]="true" [locale]="es"
                (ngModelChange)="changeModelFechaRangoFeriado($event)" dateFormat="dd/mm/yy" [monthNavigator]="true"
                [yearNavigator]="true" yearRange="1940:2030" selectionMode="range" 
                appendTo="body"></p-calendar>
        </div>
        <div class="md:col-span-1" *ngIf="formBusqueda.value.tipoFiltro == '0'">
            <label>Feriado Recurrente</label>
            
            <p-autoComplete name="isRepeat" formControlName="isRepeat" [suggestions]="filteredElementFeriadoRecurrente"
                field="descripcion" emptyMessage='Sin resultados' [dropdown]="true"
                (completeMethod)="filterElementFeriadoRecurrente($event, isRepeat)" appendTo="body">
                <ng-template let-element>
                    <div>{{element.descripcion}}</div>
                </ng-template>
            </p-autoComplete>
        </div>

        <div class="col-span-1 flex items-end justify-end gap-2">
            

            <button pButton label="Buscar Feriados" icon="pi pi-search" (click)="getFeriados()">
            </button>
            
        </div>
    </div>

</form>

<p-table #dt1 resizableColumns="true" rowExpandMode="single" 
    styleClass="p-datatable-striped p-datatable-gridlines"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [paginator]="true"
    [showCurrentPageReport]="true" [filterDelay]="0" dataKey="idCalendario" [columns]="cols" [rows]="rows"
    [value]="datosFeriados" [totalRecords]="datosFeriados.length" [loading]="loadingFeriados">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th scope="col" style="text-align: center; width: 10px;">

                <p-button icon="pi pi-refresh" severity="secondary" pTooltip="Refrescar" showDelay="1000"
                    hideDelay="300" (click)="getFeriados()" rounded raised />

            </th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr id="tableWithIcon" [pContextMenuRow]="rowData">
            <td style="text-align: center; width: 10px;">

                <p-button severity="secondary" (click)="onButtonClick($event, rowData, menusss)"
                    icon="pi pi-ellipsis-v" />
                <p-menu appendTo="body" #menusss [model]="menuItems" [popup]="true"></p-menu>

            </td>
            <td>{{rowData.descripcion}}</td>
            <td>{{rowData.descripcionTipoFecha}}</td>
            <td>{{rowData.fecha | date:'dd/MM/yyyy'}}</td>
            <td>
             
            </td>
            <td></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6" style="text-align:left">Sin registros encontrados</td>
        </tr>
    </ng-template>
</p-table>