<div class="page-layout carded fullwidth tabbed ">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->

        <div class="header accent" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="start center">
            <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                person
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Editando Proveedor
            </span>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <div class="toolbar px-24 py-8">
                <button mat-icon-button (click)="regresar()">
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
                <span>Regresar</span>
            </div>

            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Información básica">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <form *ngIf="formInfoBasicaProveedor" [formGroup]="formInfoBasicaProveedor">
                                <div class="p-grid p-fluid" style="margin-bottom: 6px;">
                                    <div class="p-col-12 p-md-4">
                                        <label>Tipo proveedor</label>
                                        <p-autoComplete name="tipoProveedor" formControlName="tipoProveedor"
                                            [suggestions]="filteredElement"
                                            (completeMethod)="filterElement($event, tipoProveedor)" field="descripcion"
                                            (ngModelChange)="changeModelTipoProveedor($event, 'proveedor')"
                                            emptyMessage='Sin resultados' [dropdown]="true" appendTo="body">
                                            <ng-template let-element>
                                                <div>{{element.descripcion}}</div>
                                            </ng-template>
                                        </p-autoComplete>
                                        <mat-error
                                            [ngStyle]="{'display': formInfoBasicaProveedor.get('tipoProveedor').dirty && !formInfoBasicaProveedor.get('tipoProveedor').valid ? 'block' : 'none' }">
                                            No es una opción
                                        </mat-error>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <label>Tipo documento</label>
                                        <p-autoComplete name="tipoDocumento" formControlName="tipoDocumento"
                                            [suggestions]="filteredElement"
                                            (completeMethod)="filterElement($event, tipoDocumentoProveedor)"
                                            (ngModelChange)="changeModelTipoDocumento($event,'tipoDocumentoProveedor')" field="descripcion"
                                            emptyMessage='Sin resultados' [dropdown]="true" appendTo="body">
                                            <ng-template let-element>
                                                <div>{{element.descripcion}}</div>
                                            </ng-template>
                                        </p-autoComplete>
                                        <mat-error
                                            [ngStyle]="{'display': formInfoBasicaProveedor.get('tipoDocumento').dirty && !formInfoBasicaProveedor.get('tipoDocumento').valid ? 'block' : 'none' }">
                                            No es una opción
                                        </mat-error>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <label>Número documento</label>
                                        <input type="text" autocomplete="off" #valorDocumento pInputText
                                            [pKeyFilter]="nroCaracterProveedor==12?'alphanum':'pint'"
                                            name="nroDocumento" formControlName="nroDocumento"
                                            [style]="{'text-transform': 'uppercase'}"
                                            [attr.minlength]="nroCaracterProveedor"
                                            [attr.maxlength]="nroCaracterProveedor">
                                        <br>
                                        <div fxLayout="row" fxLayoutAlign="end center">
                                            <mat-hint align="end" style="position: absolute;padding-top: 14px;"
                                                *ngIf="nroCaracterProveedor">{{valorDocumento.value.length}} /
                                                {{nroCaracterProveedor}}</mat-hint>
                                        </div>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <label>IDC</label>
                                        <input type="text" autocomplete="off" pInputText name="idc" pKeyFilter="pint"
                                            formControlName="idc">
                                    </div>
                                </div>
                                <div *ngIf="formInfoBasicaProveedor.get('tipoProveedor').value?.id=='01'"
                                    class="p-grid p-fluid">
                                    <div class="p-col-12 p-md-4">
                                        <label>Primer nombre</label>
                                        <input type="text" autocomplete="off" pInputText name="primerNombre"
                                            formControlName="primerNombre">
                                        <mat-error
                                            [ngStyle]="{'display': formInfoBasicaProveedor.get('primerNombre').dirty && !formInfoBasicaProveedor.get('primerNombre').valid ? 'block' : 'none' }">
                                            Es requerido
                                        </mat-error>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <label>Segundo nombre</label>
                                        <input type="text" autocomplete="off" pInputText name="segundoNombre"
                                            formControlName="segundoNombre">
                                        <mat-error
                                            [ngStyle]="{'display': formInfoBasicaProveedor.get('segundoNombre').dirty && !formInfoBasicaProveedor.get('segundoNombre').valid ? 'block' : 'none' }">
                                            Es requerido
                                        </mat-error>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <label>Apellido paterno</label>
                                        <input type="text" autocomplete="off" pInputText name="primerApellido"
                                            formControlName="primerApellido">
                                        <mat-error
                                            [ngStyle]="{'display': formInfoBasicaProveedor.get('primerApellido').dirty && !formInfoBasicaProveedor.get('primerApellido').valid ? 'block' : 'none' }">
                                            Es requerido
                                        </mat-error>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <label>Apellido materno</label>
                                        <input type="text" autocomplete="off" pInputText name="segundoApellido"
                                            formControlName="segundoApellido">
                                        <mat-error
                                            [ngStyle]="{'display': formInfoBasicaProveedor.get('segundoApellido').dirty && !formInfoBasicaProveedor.get('segundoApellido').valid ? 'block' : 'none' }">
                                            Es requerido
                                        </mat-error>
                                    </div>
                                </div>
                                <div *ngIf="formInfoBasicaProveedor.get('tipoProveedor').value?.id=='02'"
                                    class="p-grid p-fluid" style="margin-bottom: 8px;">
                                    <div class="p-col-12">
                                        <label>Razón social</label>
                                        <input type="text" autocomplete="off" pInputText name="razonSocial"
                                            formControlName="razonSocial">
                                        <mat-error
                                            [ngStyle]="{'display': formInfoBasicaProveedor.get('razonSocial').dirty && !formInfoBasicaProveedor.get('razonSocial').valid ? 'block' : 'none' }">
                                            Es requerido
                                        </mat-error>
                                    </div>
                                </div>

                                <div class="p-grid p-fluid" style="margin-bottom: 8px;">
                                    <div class="p-col-12 p-md-6">
                                        <label>¿Registrara vinculación con otro proveedor?</label>
                                        <p-inputSwitch formControlName="isPartner"
                                            (onChange)="onChangeSwitch($event)"></p-inputSwitch>
                                    </div>
                                    <div *ngIf="formInfoBasicaProveedor.get('isPartner').value==true"
                                        class="p-col-12 p-md-6">
                                        <label>Proveedores</label>
                                        <p-autoComplete name="proveedor" formControlName="proveedor"
                                            [suggestions]="filteredElement"
                                            (completeMethod)="filterElementProveedor($event, proveedoresListado)"
                                            (ngModelChange)="changeModelProveedor($event, 'proveedor')"
                                            field="nombreGenerico" emptyMessage='Sin resultados' [dropdown]="true"
                                            appendTo="body">
                                            <ng-template let-element>
                                                <div>{{element.nombreGenerico}}</div>
                                            </ng-template>
                                        </p-autoComplete>
                                        <mat-error
                                            [ngStyle]="{'display': formInfoBasicaProveedor.get('isPartner').dirty && !formInfoBasicaProveedor.get('isPartner').valid ? 'block' : 'none' }">
                                            No es una opción
                                        </mat-error>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </mat-tab>

                    <mat-tab label="Contacto">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <form *ngIf="formInfoContactoProveedor" [formGroup]="formInfoContactoProveedor">
                                <div class="p-grid p-fluid" *ngIf="nroCaracter==11">
                                    <div class="p-col-12">
                                        <label>Nombres y apellidos</label>
                                        <input type="text" autocomplete="off" pInputText name="nombre"
                                            formControlName="nombre">
                                        <mat-error
                                            [ngStyle]="{'display': formInfoContactoProveedor.get('nombre').dirty && !formInfoContactoProveedor.get('nombre').valid ? 'block' : 'none' }">
                                            Es requerido
                                        </mat-error>
                                    </div>
                                    <!-- <div class="p-col-12">
                                        <label>Correo</label>
                                        <input type="text" autocomplete="off" pInputText name="correo"
                                            formControlName="correo">
                                        <mat-error
                                            [ngStyle]="{'display': formInfoContactoProveedor.get('correo').dirty && !formInfoContactoProveedor.get('correo').valid ? 'block' : 'none' }">
                                            Es requerido
                                        </mat-error>
                                    </div> -->
                                </div>
                                <div class="p-grid p-fluid">
                                    <div class="p-col-12 p-md-6">
                                        <label>Correo electrónico</label>
                                        <input type="text" pInputText autocomplete="off" name="correo"
                                            formControlName="correo" placeholder="ejem: correo@dominio.com">
                                        <mat-error
                                            [ngStyle]="{'display': formInfoContactoProveedor.get('correo').dirty && !formInfoContactoProveedor.get('correo').valid ? 'block' : 'none' }">
                                            No es un correo
                                        </mat-error>
                                    </div>
                                    <div class="p-col-12 p-md-6">
                                        <label>Celular</label>
                                        <input type="text" pInputText autocomplete="off" [attr.maxlength]="9"
                                            pKeyFilter="pint" name="celular" formControlName="celular">
                                    </div>
                                </div>
                                <div class="p-grid p-fluid" style="margin-bottom: 8px;">
                                    <div class="p-col-12 p-md-6">
                                        <label>Teléfono</label>
                                        <input type="text" pInputText autocomplete="off" name="telefono"
                                            pKeyFilter="pint" formControlName="telefono" appendTo="body">
                                        <mat-error
                                            [ngStyle]="{'display': formInfoContactoProveedor.get('telefono').dirty && !formInfoContactoProveedor.get('telefono').valid ? 'block' : 'none' }">
                                            formato inválido
                                        </mat-error>
                                    </div>
                                    <div class="p-col-12 p-md-6">
                                        <label>Anexo</label>
                                        <input type="text" autocomplete="off" pInputText name="anexo" pKeyFilter="pint"
                                            formControlName="anexo">
                                        <mat-error
                                            [ngStyle]="{'display': formInfoContactoProveedor.get('anexo').dirty && !formInfoContactoProveedor.get('anexo').valid ? 'block' : 'none' }">
                                            Es requerido
                                        </mat-error>
                                        <br>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </mat-tab>

                    <mat-tab label="Domicilio">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <form *ngIf="formDatosDireccion" [formGroup]="formDatosDireccion">
                                <div class="p-grid p-fluid" style="margin-bottom: 6px;">
                                    <div class="p-col-12">
                                        <label>Dirección</label>
                                        <input type="text" pInputText autocomplete="off" name="direccion"
                                            formControlName="direccion">
                                    </div>
                                </div>
                                <div class="p-grid p-fluid">
                                    <div class="p-col-12 p-md-4">
                                        <label>Departamento</label>
                                        <p-autoComplete name="departamento" formControlName="departamento"
                                            [suggestions]="filteredElement"
                                            (completeMethod)="filterElement($event, departamento)"
                                            (onSelect)="changeModelDepartamento($event)" field="descripcion"
                                            emptyMessage='Sin resultados' [dropdown]="true" appendTo="body">
                                            <ng-template let-element>
                                                <div>{{element.descripcion}}</div>
                                            </ng-template>
                                        </p-autoComplete>
                                        <mat-error
                                            [ngStyle]="{'display': formDatosDireccion.get('departamento').dirty && !formDatosDireccion.get('departamento').valid ? 'block' : 'none' }">
                                            No es una opción
                                        </mat-error>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <label>Provincia</label>
                                        <p-autoComplete name="provincia" formControlName="provincia"
                                            [suggestions]="filteredElement"
                                            (completeMethod)="filterElement($event, provincia)"
                                            (onSelect)="changeModelProvincia($event)" field="descripcion"
                                            emptyMessage='Sin resultados' [dropdown]="true" appendTo="body">
                                            <ng-template let-element>
                                                <div>{{element.descripcion}}</div>
                                            </ng-template>
                                        </p-autoComplete>
                                        <mat-error
                                            [ngStyle]="{'display': formDatosDireccion.get('provincia').dirty && !formDatosDireccion.get('provincia').valid ? 'block' : 'none' }">
                                            No es una opción
                                        </mat-error>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <label>Distrito</label>
                                        <p-autoComplete name="distrito" formControlName="distrito"
                                            [suggestions]="filteredElement"
                                            (completeMethod)="filterElement($event, distrito)" field="descripcion"
                                            emptyMessage='Sin resultados' [dropdown]="true" appendTo="body">
                                            <ng-template let-element>
                                                <div>{{element.descripcion}}</div>
                                            </ng-template>
                                        </p-autoComplete>
                                        <mat-error
                                            [ngStyle]="{'display': formDatosDireccion.get('distrito').dirty && !formDatosDireccion.get('distrito').valid ? 'block' : 'none' }">
                                            No es una opción
                                        </mat-error>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </mat-tab>
                    <!-- <mat-tab label="Cuentas" *ngIf="formCuentas">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <p-button icon="pi pi-id-card" label="Agregar Cuenta"
                                    (click)="agregarCuenta()"></p-button>
                                <button (click)="agregarCuenta()">Agregar Cuenta</button>
                            </div>
                            <form *ngIf="formCuentas" [formGroup]="formCuentas" novalidate>
                                <div formArrayName="cuentas">
                                    <div *ngFor="let cuenta of cuentas.controls; index as i" [formGroupName]="i">
                                        <div class="p-grid p-fluid" style="margin-bottom: 8px;">
                                            <div class="p-col-12 p-md-3">
                                                <label>Banco </label>
                                                <p-autoComplete name="banco" formControlName="banco"
                                                    [suggestions]="filteredElement"
                                                    (completeMethod)="filterElement($event, banco)"
                                                    (ngModelChange)="changeModelBanco($event,i)"
                                                    field="descripcion" emptyMessage='Sin resultados' [dropdown]="true"
                                                    appendTo="body">
                                                    <ng-template let-element>
                                                        <div>{{element.descripcion}}</div>
                                                    </ng-template>
                                                </p-autoComplete>
                                            </div>
                                            <div class="p-col-12 p-md-2">
                                                <label>Tipo de cuenta </label>
                                                <p-autoComplete name="tipoCuenta" formControlName="tipoCuenta"
                                                    [suggestions]="filteredElement"
                                                    (completeMethod)="filterElement($event, tipoCuenta)"
                                                    (ngModelChange)="changeModelTipoCuenta($event,i)"
                                                    field="descripcion" emptyMessage='Sin resultados' [dropdown]="true"
                                                    appendTo="body">
                                                    <ng-template let-element>
                                                        <div>{{element.descripcion}}</div>
                                                    </ng-template>
                                                </p-autoComplete>
                                            </div>
                                            <div class="p-col-12 p-md-2">
                                                <label>Tipo de moneda </label>
                                                <p-autoComplete name="tipoMoneda" formControlName="tipoMoneda"
                                                    [suggestions]="filteredElement"
                                                    (completeMethod)="filterElement($event, tipoMoneda)"
                                                    (ngModelChange)="changeModelTipoMoneda($event,i)"
                                                    field="descripcion" emptyMessage='Sin resultados' [dropdown]="true"
                                                    appendTo="body" [disabled]="true">
                                                    <ng-template let-element>
                                                        <div>{{element.descripcion}}</div>
                                                    </ng-template>
                                                </p-autoComplete>
                                            </div>
                                            <div class="p-col-12 p-md-3">
                                                <label>núm. cuenta</label>
                                                <p-inputMask mask="9999-9999-9999-9999"
                                                    formControlName="numCuenta"></p-inputMask>
                                            </div>
                                            <div class="p-md-1" style="padding-top: 37px;">
                                                <p-button (click)="quitarCuenta(i)" label="" icon="pi pi-trash"
                                                    class="ui-button-danger" matTooltipPosition="above"
                                                    matTooltip="Eliminar">
                                                </p-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </mat-tab> -->
                </mat-tab-group>
            </div>
            <div class="p-24" fxLayout="row" fxLayoutAlign="end center">
                <button mat-raised-button color="warn" (click)="putProveedor()">Actualizar</button>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>