<p-toast></p-toast>
<br>

<div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-1 gap-4">
    <form [formGroup]="form" novalidate>
        <div class="md:col-span-1">
            <label class="block mb-1 text-sm">Nombre del grupo</label>
            <input class="w-full" type="text" name="nomTabla" formControlName="nomTabla" pInputText autocomplete="off">
            <p-message *ngIf="form.get('nomTabla')?.dirty && form.get('nomTabla')?.errors?.['required']"
                severity="error" text="Es requerido">
            </p-message>
            <p-message *ngIf="form.get('nomTabla')?.dirty && form.get('nomTabla')?.errors?.['maxlength']"
                severity="error" text="Máximo 50 caracteres">
            </p-message>
        </div>
        <div class="md:col-span-1 flex items-end justify-end  footer-modal">
            <p-button label="Cancel" [text]="true" severity="secondary" (click)="closeGrupo()" />
            <p-button label="Aceptar" [disabled]="form.invalid" (click)="addGrupo()" />
        </div>
    </form>
</div>